.header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__container {
  display: flex;
}
.header__logo-link {
  margin-right: auto;
  margin-left: 31px;
}
.link {
}
.header__svg {
}
.header__nav {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}
.header__list {
}
.header__item {
}
.header__nav-link {
}
.header__group {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}
.header__group-link {
}

.header__btn-text {
}
.header__icon-btn {
}
