[class*="__container"] {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: $mob) {
    min-width: $mob;
  }

  @media screen and (min-width: $tab) {
    width: $tab;
  }

  @media screen and (min-width: $des) {
    width: $des;
  }
}
.main {
  flex: 1 1 auto;
}

@media screen and (min-width: $mob) {
}

@media screen and (min-width: $tab) {
}

@media screen and (min-width: $des) {
}
