// $breakpoints: (
//   "phone": 480px,
//   "tablet": 768px,
//   "desktop": 1200px,
// );

// screen
$mob: 480px;
$tab: 768px;
$des: 1200px;

// colors-bc
$bc-white: #e5e5e5;
$bc-gray: #555555;
$bc-black: #191c26;
// colors-text
$txt-gray: #555555;
$txt-lgray: #9da4bd;
$txt-lgray-shd60: rgba(157, 164, 189, 0.6);
$txt-lgray-shd40: rgba(157, 164, 189, 0.4);
$txt-wht: #ffffff;
$txt-04: rgba(157, 164, 189, 0.4);
$txt-303030: #303030;
$txt-red: #ff6c00;
// colors
